<div class="content">
	<div class="row">
		<h3>Candidatos para [[Votaci&oacute;n]]</h3>
	</div>
	<form>
	<!-- ROW -->
		<div class="row">

			<!-- CARD CANDIDATO-->
			<div class="col-md-4 px-2 py-4">
				<div class="card">
					<img src="./img/example.png" class="card-img-top" alt="...">
					<div class="card-body">
						<div class="form-group row">
							<label class="col-md-4 col-form-label"><strong>Nombre:</strong></label>
							<label class="col-md-8 col-form-label">[[Nombre completo de Candidato]]</label>
						</div>
						<div class="form-group row">
							<label class="col-md-4 col-form-label"><strong>Edad:</strong></label>
							<label class="col-md-8 col-form-label">[[Edad]]</label>
						</div>
						<div class="form-group row">
							<label class="col-md-4 col-form-label"><strong>Afiliaci&oacute;n:</strong></label>
							<label class="col-md-8 col-form-label">[[Nombre completo de Afiliaci&oacute;n]]</label>
						</div>
					</div>
				</div>
			</div>

			<!-- CARD CANDIDATO-->
			<div class="col-md-4 px-2 py-4">
				<div class="card">
					<img src="./img/example.png" class="card-img-top" alt="...">
					<div class="card-body">
						<div class="form-group row">
							<label class="col-md-4 col-form-label"><strong>Nombre:</strong></label>
							<label class="col-md-8 col-form-label">[[Nombre completo de Candidato]]</label>
						</div>
						<div class="form-group row">
							<label class="col-md-4 col-form-label"><strong>Edad:</strong></label>
							<label class="col-md-8 col-form-label">[[Edad]]</label>
						</div>
						<div class="form-group row">
							<label class="col-md-4 col-form-label"><strong>Afiliaci&oacute;n:</strong></label>
							<label class="col-md-8 col-form-label">[[Nombre completo de Afiliaci&oacute;n]]</label>
						</div>
					</div>
				</div>
			</div>

			<!-- CARD CANDIDATO-->
			<div class="col-md-4 px-2 py-4">
				<div class="card">
					<img src="./img/example.png" class="card-img-top" alt="...">
					<div class="card-body">
						<div class="form-group row">
							<label class="col-md-4 col-form-label"><strong>Nombre:</strong></label>
							<label class="col-md-8 col-form-label">[[Nombre completo de Candidato]]</label>
						</div>
						<div class="form-group row">
							<label class="col-md-4 col-form-label"><strong>Edad:</strong></label>
							<label class="col-md-8 col-form-label">[[Edad]]</label>
						</div>
						<div class="form-group row">
							<label class="col-md-4 col-form-label"><strong>Afiliaci&oacute;n:</strong></label>
							<label class="col-md-8 col-form-label">[[Nombre completo de Afiliaci&oacute;n]]</label>
						</div>
					</div>
				</div>
			</div>

			<!-- CARD CANDIDATO-->
			<div class="col-md-4 px-2 py-4">
				<div class="card">
					<img src="./img/example.png" class="card-img-top" alt="...">
					<div class="card-body">
						<div class="form-group row">
							<label class="col-md-4 col-form-label"><strong>Nombre:</strong></label>
							<label class="col-md-8 col-form-label">[[Nombre completo de Candidato]]</label>
						</div>
						<div class="form-group row">
							<label class="col-md-4 col-form-label"><strong>Edad:</strong></label>
							<label class="col-md-8 col-form-label">[[Edad]]</label>
						</div>
						<div class="form-group row">
							<label class="col-md-4 col-form-label"><strong>Afiliaci&oacute;n:</strong></label>
							<label class="col-md-8 col-form-label">[[Nombre completo de Afiliaci&oacute;n]]</label>
						</div>
					</div>
				</div>
			</div>

		</div>
	<!-- FIN ROW -->
	</form>
</div>